.algorithm-page {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 22px;
  margin: 50px 0px;
  padding: 20px 30px;
}
pre::-webkit-scrollbar {
  background: #3d3d3d;
  width: 5px;
}
pre::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .nav-pills {
    flex-direction: row !important;
  }
  .tab-content > h1 {
    font-size: 25px !important;
  }
  .tab-content > h2 {
    font-size: 20px;
  }
}
